/**
 * @name Arch Linux
 * @author ungiglio
 * @version 26.1
 * @description Un tema minimale e tecnico ispirato ad Arch Linux. I use Arch BTW.
 * @source https://github.com/ungiglio/DiscordArch
*/

/* ======================================================================== */
/* 1. SELEZIONE DELLA SKIN */
/* Scommenta la distro che vuoi utilizzare. Default: Arch */
/* ======================================================================== */

@import url('https://ungiglio.github.io/DiscordArch-dev/arch/skins/arch.css');
/* @import url('https://ungiglio.github.io/DiscordArch-dev/arch/skins/manjaro.css'); */
/* @import url('https://ungiglio.github.io/DiscordArch-dev/arch/skins/endeavour.css'); */


/* ======================================================================== */
/* 2. CARICAMENTO DEL SISTEMA (CORE) */
/* ======================================================================== */

@import url('https://ungiglio.github.io/DiscordArch-dev/arch/loader.css');