div[id="app-mount"]::before {
    content: "" !important;
    position: absolute !important;
    top: 0; left: 0; width: 100%; height: 100%;
    background-image: var(--background-image) !important;
    background-size: cover !important;
    background-position: center !important;
    opacity: 0.4; 
    z-index: -1;
    pointer-events: none;
}

div[class^="sidebarListRounded_"] {
    border-radius: 0px;
    min-width: 270px;
}

nav[class^="wrapper_"] {
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs));
}
div[class^="scroller_"] {
    background: transparent !important;
}

.tutorialContainer__1f388 .childWrapper__6e9f8 svg {
    display: none;
}

.tutorialContainer__1f388 .childWrapper__6e9f8 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo) !important;
}

.tutorialContainer__1f388 .childWrapper__6e9f8:hover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo) !important;
}

.tutorialContainer__1f388 .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo) !important;
}

div[class^="listItem_"] foreignObject {
    mask: none !important; 
}
div[class^="wrapper_"] img[class^="icon_"] {
    border-radius: 0px !important; 
}
div[class^="folderIconWrapper_"] {
    border-radius: 0px !important;
}

div[class^="pill_"] span {
    border-radius: 0px !important;
}

nav[class^="wrapper_"] {
    width: 4px !important; 
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
    z-index: 100 !important; 
    overflow: hidden !important;
}
nav[class^="wrapper_"] div[class^="pill_"] span, .vc-text-btn-base {
    display: none;
}

nav[class^="wrapper_"]:hover {
    width: 72px !important; 
}
nav[class^="wrapper_"]:hover div[class^="pill_"] span, .vc-text-btn-base {
    display: block;
}

nav[class^="wrapper_"] ::-webkit-scrollbar {
    display: none !important;
}

